html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  margin: 1.5rem;
  padding: 1em;
  position: relative;
}

div {
  max-width: 25em;
  margin: 1.5rem;
  display: inline-block;
}

img {
  width: 100%;
  max-width: 25em;
  display: inline-block;
}
