*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-align: center;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

body {
  margin: 0;
  text-align: center;
}

.box-a {
  max-width: 25em;
  display: inline-block;
  padding: 1em 1em;
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  vertical-align: middle;
}

.box-b {
  max-width: 25em;
  display: inline-block;
  padding: 1em 1em;
  margin: 0;
  text-align: left;
  vertical-align: middle;
}

.box-b h2 {
  margin: 0;
  text-align: left;
}

.box-b p {
  margin: 1.5rem 0;
  text-align: left;
}

.btn {
  display: inline-block;
  color: #333;
  text-decoration: none;
  text-align: left;
  padding: .4em .75em .5em;
  border: 3px solid #333;
  border-radius: 9px;
  margin: 0;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}
