html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
  display: inline-block;
}

section div {
  max-width: 25em;
}

img {
  width: 100%;
  max-width: 25em;
}
